<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">左侧</div>
            <div class="main" id="main">
                右侧<br>
                {% for item in emojilist %}
                    {{item.infoEmoji}}
                {% endfor %}
                
                页面执行时间是：{{ current_time }}

            </div>
        </div>
        <div class="footer">footer 保证前面的变化不影响这里的显示</div>
    </body>
</html>